<h1>Recently Added</h1>
<ul class="list-unstyled">
  <% @books.each do |b| %>
  <li class="media my-4">
    <img src="https://via.placeholder.com/64" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1"><i><%= b.title %></i> <%= b.author %></h5>
      <%= b.description %>
      <div>
        <a href="/books/12" class="badge badge-success">Read more</a>
      </div>
    </div>
  </li>
  <% end %>
</ul>