
<div class="card mt-4">
  <h5 class="card-header">
    <i>Father Melancholy's Daughter</i> Gail Godwin
  </h5>
  <div class="card-body">
    
    <div class="media my-4">
      <img src="https://via.placeholder.com/150" class="mr-3" alt="...">
      <div class="media-body">
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>
</div>
