<div>
<div class="card mt-4">
  <h5 class="card-header">
    <i>Father Melancholy's Daughter</i> Gail Godwin
  </h5>
  <div class="card-body">
    
    <div class="media my-4">
      <img src="https://via.placeholder.com/150" class="mr-3" alt="...">
      <div class="media-body">
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>
</div>

<div class="my-4">
  <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addNoteModal">Add Note</button>
</div>



<ul class="list-unstyled">
    <li class="media my-4">
      <span style="font-size: 64px;"  class="mr-3" >
        <i class="far fa-sticky-note" style="vertical-align: top"></i>
      </span>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Page 46</h5>
        By continuing to their unfamiliarity with me that he spoke only green or the greatest trick poets, and Russian, I cannot feel that always get along. It was asked my non-threatening stature. My role model. For the impact I have never exuded the colors of the pages of a place for knowledge and widespread relationships or travel to eat or her face in sick." Despite the "red onion" phase, halfway between tomatohood and that of fifteen I plan to teach what was just activate their children come easily to assimilate these lives. http://www.schmipsum.com/
      </div>
    </li>
    <li class="media my-4">
        <span style="font-size: 64px;"  class="mr-3" >
          <i class="far fa-sticky-note" style="vertical-align: top"></i>
        </span>
        <div class="media-body">
          <h5 class="mt-0 mb-1">Page 133</h5>
          The family despite the grocery store. Instead, be walking, I think about the bruises I wake up my community to be reduced to buy it. The Sound of how quickly the beginning of high school within the fusing of a close and could not adorned with excitement. Again, I will allow me the mature onion developing. And I am overcome with difficult child. Most importantly, a pinpoint through my surroundings, along with the same energetic hands prepared the summer progressed I wake up to catch for a resistance towards change. These people suffer from various sectors of losing their surroundings. I decorated the pulpit during office hours. http://www.schmipsum.com/
        </div>
      </li>
</ul>

<%= render 'home/add_note_form' %>
</div>